h1 {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-weight: bold;
}

h2 {
  display: flex;
  justify-content: center;
}

mat-toolbar a {
  text-decoration: none;
  color: white;
}
